[Unit]
Description=qB Companion Configuration Manager
After=network.target

[Service]
Type=simple
User=whoobee
WorkingDirectory=/home/whoobee/qB_Companion/qBc_ConfigurationManager
ExecStart=/home/whoobee/qB_Companion/qBc_ConfigurationManager/.venv/bin/python main.py
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target
